@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;  
  font-family: 'Sora', sans-serif;
}

.content {display:none;}

.preload { width:100px;
    height: 100px;
    position: fixed;
    top: 50%;
    left: 50%;}


html,body{
    background: #585c68;
    font-size: 14px;
    line-height: 22px;
    color: #555555;
}

.bold{
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
}

.medium{
    font-weight: 500;
    font-size: 16px;
}

.regular{
    font-weight: 400;
    font-size: 20px;
}

.resume{
    width: 800px;
    height: auto;
    display: flex;
    margin: 50px auto;
}

.resume .resume_left{
    width: 280px;
    background: #0bb5f4;
}

.resume .resume_left .resume_profile{
    width: 100%;
    height: 280px;
}

.resume .resume_left .resume_profile img{
    width: 100%;
    height: 100%;
}

.resume .resume_left .resume_content{
 
    padding: 0 25px;
}

.resume .title{
    margin-bottom: 20px;

}

.resume .resume_left .bold{
    color: #fff;
}

.resume .resume_left .medium{
    color: #beaff1;
}

.resume .resume_item{
    padding: 25px 0;
    border-bottom: 2px solid #b1eaff;
}

.resume .resume_left .resume_item:last-child{
    border-bottom: 0px;
}

.resume .resume_left ul li{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.resume .resume_left ul li:last-child{
    margin-bottom: 0;
}

.resume .resume_left ul li{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.resume .resume_left ul li .icon{
    width: 35px;
    height: 35px;
    background: #fff;
    color: #0bb5f4 ;
    border-radius: 50%;
    margin-right: 15px;
    font-size: 16px;
    position: relative;
}

.resume .icon i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
}

.resume .resume_left ul li .data{
    color: #b1eaff;
}

.resume .resume_left ul li{
    display: flex;
    align-items: center;
}

.resume .resume_left .resume_skills ul li{
    color: #b1eaff;
    position: relative;
    list-style: none;
    margin: 50px 0;
    text-transform: uppercase;
}

.resume .resume_left .resume_skills ul li:before{
    content: "";
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 100%;
    height: 15px;
    background-color: rgba(54, 126, 223, .5);
    border-radius: 1000px;
}

.resume .resume_left .resume_skills ul li:after{
    content: "";
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 0;
    height: 15px;
    background-color: #fff;
    border-radius: 1000px;
    animation-duration: .7s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.resume .resume_left .resume_skills ul li.python:after{
    animation-name: python;
}

@keyframes python {
    to {
        width: 90%;
    }
    
}

.resume .resume_left .resume_skills ul li.java:after{
    animation-name: java;
}

@keyframes java {
    to {
        width: 96%;
    }
}

.resume .resume_left .resume_skills ul li.csharp:after{
    animation-name: csharp;
}

@keyframes csharp {
    to {
        width: 89%;
    }
}

.resume .resume_left .resume_skills ul li.cplusplus:after{
    animation-name: cplusplus;
}

@keyframes cplusplus {
    to {
        width: 93%;
    }
}

.resume .resume_left .resume_skills ul li.php:after{
    animation-name: php;
}

@keyframes php {
    to {
        width: 75%;
    }
}

.resume .resume_left .resume_skills ul li.oracle:after{
    animation-name: oracle;
}

@keyframes oracle {
    to {
        width: 75%;
    }
}

.resume .resume_left .resume_skills ul li.mysql:after{
    animation-name: mysql;
}

@keyframes mysql {
    to {
        width: 80%;
    }
}

.resume .resume_left .resume_skills ul li.androidstudio:after{
    animation-name: androidstudio;
}

@keyframes androidstudio {
    to {
        width: 83%;
    }
}

.resume .resume_left .resume_social .bold{
    margin-bottom: 20px;
}

.resume .resume_left .resume_download .bold{
    margin-bottom: 20px;
}

.resume .resume_left .resume_download .btn_download{
    margin-left: 15px;
    background: #555555;
    border: none ;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.resume .resume_right{
    width: 520px;
    background: #fff;
    padding: 25px;
}

.resume .resume_right .table{
    width: 100%;
    margin-bottom: 15px;
}

.resume .resume_right .bold{
    color: #0bb5f4;
}

.resume .resume_right .resume_work ul,
.resume .resume_right .resume_education ul,
.resume .resume_right .resume_references{
    padding-left: 40px;
    overflow: hidden;
}

.resume .resume_right ul li{
    position:relative;
}

.resume .resume_right ul li .date{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
    margin-top: 15px;
}

.resume .resume_right ul li .date:first-child{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
    margin-top: 0px;
}

.resume .resume_right ul li .info{
    margin-bottom: 20px;
}

.resume .resume_right ul li:last-child .info{
    margin-bottom: 0px;
}

.resume .resume_right .resume_references ul li{
    margin-bottom: 20px;
}

.resume .resume_right .resume_references .regular{
    margin-top: 20px;
}

.resume .resume_right .resume_about{
    text-align: justify;
    text-justify: inter-word;
}
